{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock  %}

{% block content %}
<a href="http://localhost:5000/spell_check" type="button" class="btn btn-success" style="font-size:30px;">Spell Check</a> 
	<div class="container">
		<form class="form-signin" method="POST">
			<h2 class="form-signin-heading">Please sign in</h2>
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			{{ form.hidden_tag() }}
			{{ wtf.form_field(form.username) }}
			{{ wtf.form_field(form.password) }}
			{{ wtf.form_field(form.twofactor) }}
			<div id="result" style="font-size:20px; margin-bottom:10px"> {{msg}}</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
	</div> <!-- /container -->
{% endblock %}