{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Spell Check
{% endblock  %}

{% block content %}

<a href="http://localhost:5000/history" type="button" class="btn btn-success" style="font-size:30px;">History</a>
    <div class="container">
        <div id=result>{{error}}
          </dl>
            <p><input type=submit name='submit_button' value='Log Out'>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>

      <form class="form-signin" method="POST" action="/spell_check">
        <h2 class="form-signin-heading">Input text below</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.inputText) }}
        <div id=result>{{msg}}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <p align="center"><input type=submit name='submit_button' value='Check'></p><!-- 
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit_button">Check</button> -->
      </form>

    </div> <!-- /container -->
{% endblock %}